[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-simplecrop
Exec=sailfish-qml harbour-simplecrop %u
Name=Imageworks
Name[de]=Imageworks

[X-Sailjail]
OrganizationName=de.poetaster
ApplicationName=harbour-simplecrop
Permissions=UserDirs;RemovableMedia;MediaIndexing

